<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
</head>
<body>
<div th:fragment="MyFoot">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/skin/default_skin/css/theme.css}">
    <script th:src="@{/vendor/jquery/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/vendor/jquery/jquery_ui/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/admin-tools/admin-forms/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/admin-tools/admin-forms/js/additional-methods.min.js}"></script>
    <script th:src="@{/assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js}"></script>
    <script th:src="@{/assets/js/utility/utility.js}"></script>
    <script th:src="@{/assets/js/demo/demo.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/pages.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/items.js}"></script>
</div>

</body>
</html>